/*  THEME COLORS SPECIFICATION  */
$color-dark-purple:             #633e95;
$color-pale-pink:               #ffafda;
$color-hot-pink:                #e45f94;
$color-neon-blue:               #2695ff;
$color-neon-blue-50:            rgba(38, 149, 255, 0.5);


/*  THEME COLORS SETTING        */
$font-FWC:                      'ITC Serif Gothic Heavy';
