@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
  font-family: 'ITC Serif Gothic Light';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Serif Gothic Light'), url('itc-serif-gothic-light-588cee8a0bfb1.woff') format('woff');
}


@font-face {
  font-family: 'ITC Serif Gothic Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Serif Gothic Heavy'), url('itc-serif-gothic-heavy-588d443a778f2.woff') format('woff');
}


@font-face {
  font-family: 'ITC Serif Gothic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Serif Gothic Regular'), url('itc-serif-gothic-regular-588cef4e7134b.woff') format('woff');
}


@font-face {
  font-family: 'ITC Serif Gothic Black';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Serif Gothic Black'), url('itc-serif-gothic-black-588d43e1e915d.woff') format('woff');
}


@font-face {
  font-family: 'ITC Serif Gothic Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Serif Gothic Extra Bold'), url('itc-serif-gothic-extra-bold-588cef7e1f5d9.woff') format('woff');
}

@font-face {
  font-family: 'Old London';
  src: url('old-london.ttf');
}
