@import "../../public/theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*  MODULE SPECIFIC VARS  */
/*  Safe to edit
*/
$font-family:             'Pacifico', 'Leckerli One', cursive;
$text-primary-color:       lighten( $color-neon-blue, 50% );
$shadow-color:             $color-neon-blue;
$shadow-color-50:          $color-neon-blue-50;

/*  DANGER ZONE           */
/*  Only edit if you know what you're doing
*/
.neon {
  font-family:            $font-family;
  color:                  $text-primary-color;
  text-shadow:
    .5px .5px 2px gray,
    0 0 5px $shadow-color,
    0 0 10px $shadow-color-50,
    0 0 15px $shadow-color,
    0 0 20px $shadow-color-50,
    0 0 40px $shadow-color,
    0 0 100px $shadow-color,
    0 0 200px $shadow-color,
    0 0 300px $shadow-color,
    0 0 500px $shadow-color;
}

a.neon:hover {
  text-decoration: none;
  color:    $text-primary-color;
  text-shadow:
    .5px .5px 2px gray,
    0 0 5px $shadow-color,
    0 0 10px $shadow-color,
    0 0 15px $shadow-color,
    0 0 20px $shadow-color,
    0 0 40px $shadow-color,
    0 0 100px $shadow-color,
    0 0 200px $shadow-color,
    0 0 300px $shadow-color,
    0 0 500px $shadow-color;
  animation: blink 5s;
}



@keyframes blink {
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0.2;
  }
  23% {
    opacity: 1;
  }
  25% {
    opacity: 0.1;
  }
  26% {
    opacity: 1;
  }
}
