@import "vars.scss";

//  Only define the minimum possible global styles here

html {
  color:        $color-primary;
  background:   $color-bg;
}

a:hover {
  color:        $color-secondary;
}

a {
  color: inherit;
}

footer {
  color:        $color-muted;
}
