/*    COLOR PALETTE     */
$color-white:           #ffffff;
$color-dirty-ice:       #e0d9e1;
$color-lipstick-purple: #99579d;
$color-dark-lilac:      #6c4e92;
$color-dull-pink:       #cc6f8f;
$color-warm-coral:      #d95162;
$color-black:           #000000;

/*    COLOR ASSIGNMENT  */
$color-bg:              $color-white;
$color-primary:         $color-black;
$color-secondary:       $color-warm-coral;
$color-muted:           darken( $color-dirty-ice, 20% );

/*    FONTS             */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
$font-FWC-signature:    'Alegreya Sans Sc', sans;
