@import '../../public/theme.scss';

.container {
  background: linear-gradient(
    25deg,
    $color-dark-purple 10%,
    $color-hot-pink 66%,
    $color-pale-pink 100% );
  position: absolute;
  height: 100%;
  width: 100%
}

.titleContainer{
  margin:                 0;
  position:               absolute;
  top:                    40%;
  left:                   50%;
  -ms-transform:          translate(-50%, -50%);
  transform:              translate(-50%, -50%);
  text-align:             center;
}

.navContainer{
  width: 100%;
  position: absolute;
  bottom: 5%;
}
