@import "../../public/theme.scss";

/*  MODULE SPECIFIC VARS  */
/*  Safe to edit
*/
$font-size-scaler:        700%;
$letter-spacing:          .75rem;
$font-family:             $font-FWC, serif;
$text-color:              white;
$animation-duration:      1s;
$text-stroke:             1.25px $color-dark-purple;
$text-shadow:             5px 5px 15px $color-dark-purple;
$text-popout-shadow:      30px 30px 15px $color-dark-purple;
$text-tilt-degrees:       -7deg;

/*  DANGER ZONE           */
/*  Only edit if you know what you're doing
*/

.title {
  font-size:              $font-size-scaler;
  letter-spacing:         $letter-spacing;
  font-family:            $font-family;
  color:                  $text-color;
  // animation:              popOut $animation-duration ease-in-out;
  -webkit-text-stroke:    $text-stroke;
  text-shadow:            $text-shadow;
}

h1.title:hover{
  animation:              popOut $animation-duration ease-in-out;
}

@keyframes spaceIn {
  0% {
    letter-spacing:       2*$letter-spacing;
  }
  70% {
    letter-spacing:       0.75*$letter-spacing;
  }
  100% {
    letter-spacing:       $letter-spacing;
  }
}

@keyframes popOut {
  0% {
    text-shadow:            $text-shadow;
  }
  50% {
    text-shadow:            $text-popout-shadow;
  }
  100% {
    text-shadow:            $text-shadow;
  }
}

.diagonalBox {
  transform:              skewY( $text-tilt-degrees );
}
