@import "../../public/theme.scss";

/*  MODULE SPECIFIC VARS  */
/*  Safe to edit
*/
$page-width:              60%;

$title-top-margin:        5%;
$title-font:              'Old London', serif;
$title-font-size-scaler:  500%;


/*  DANGER ZONE           */
/*  Only edit if you know what you're doing
*/

.container {
  background:             $color-mega-yellow;
  position:               absolute;
  height:                 100%;
  width:                  100%;
}

.content {
  width:                  $page-width;
  margin:                 auto;
}

.title {
  margin-top:             $title-top-margin;
  font-family:            $title-font;
  font-size:              $title-font-size-scaler;
  text-align:             center;
}
